.details-background {
  height: 50vh;
  background-size: cover;
  background-position: center;
}
.details-background::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.details-container {
  padding: 170px 0 100px 0;
  position: relative;
}
.cast .cast-box .cast-img {
  width: 120px;
}
.not-found {
  height: 400px;
}
